<div class="container-fluid">
	<h2>Welcome to Dash board</h2>
</div>


<div class="col-xs-12">
	
	<div class="col-xs-12" style="margin: 20px;">
		<div class="form-group col-xs-12">
		  <label class="col-xs-2" for="pwd">Name</label>
		  <input type="text" class="form-control" id="name">
		</div>
	</div>	

	<div class="col-xs-12" style="margin: 20px;">
		<div class="form-group col-xs-12">
		  <label class="col-xs-2" for="pwd">Address</label>
		  <input type="text" class="form-control" id="address">
		</div>
	</div>

	<div class="col-xs-12" style="margin: 20px;">
		<div class="form-group col-xs-12">
		  <label class="col-xs-2" >Enter Contact</label>
		  <input type="text" class="form-control" id="contact">
		</div>
		
	</div>

	<div class="col-xs-12" style="margin: 20px;">
		<div class="form-group col-xs-12">
	    <label class="col-xs-2" for="pwd">Age</label>
	    <input type="text" class="form-control" id="age">
	  </div>
	</div>
	  <button id="submit_detail"   class="btn btn-default col-xs-offset-3">Submit</button>
</div>

<div class="col-xs-2">
	<table class="table">
		<thead>
			<tr>
				<td>
					Name
				</td>

				<td>
					Age
				</td>

				<td>
					Address
				</td>

				<td>
					Contact
				</td>
			</tr>
		</thead>
		<tbody id="info_person">
			
		</tbody>
	</table>
	
</div>

<script type="text/javascript">

	var myjsoninfo = [];
	var nameofperson    = '';
	var ageofperson     = '';
	var addressofperson = '';
	var contactofperson = '';
	$('#submit_detail').click(function(){
		var nameofperson    = $("#name").val();
		var ageofperson     = $("#age").val();
		var addressofperson = $("#address").val();
		var contactofperson = $("#contact").val();
		info = {}
		info ["name"]    = nameofperson ;
		info ["age"]     = ageofperson;
		info ["address"] = addressofperson;
		info ["contact"] = contactofperson;

		$.ajax({
			type:"post",
			url:"/person_info/create",
			data:{
				name:    nameofperson,
				age:     ageofperson,
				address: addressofperson,
				contact: contactofperson
			},
			success:function(res){
				console.log(res);

			}
		})

		myjsoninfo.push(info);
		console.log("info----->",myjsoninfo);

		var h = ''

		h+='<tr><td>'+nameofperson+'</td><td>'+ageofperson+'</td><td>'+addressofperson+'</td><td>'+contactofperson+'</td></tr>';
		$('#info_person').html(h);
	})


	console.log("=====>",myjsoninfo.length);


	


</script>